 
/*mystylesheet*/
body {
    color: rbg(0,53,48);
    background-color: rgb(88, 115, 130)  
}

header { 
    background-color: rgb(206, 126, 106);
    border: 2px dashed;
    position: relative;
    margin: auto;
    width: 100%; 
    
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v1/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
 
.info {
    color: beige;
    font-family: 'Space Mono';
    text-align: center;
    display: block;
    font-size: large;
}

.titleleft {
    color: rgb(206, 126, 106);
    font-family: 'Helvetica';
    text-align: left;
    margin-bottom: 20;
    margin-top: 20;
    position: relative;
}

.titleright{
    color: beige;
    font-family: 'Helvetica';
    font-style: italic;
    text-align: right;
    margin-bottom: 20;
    margin-top: 20;
    display: block;
}

.title{
    color: beige;
    font-family: 'Helvetica';
    font-style: italic;
    text-align: center;
    margin-bottom: 20;
    margin-top: 20;
    position: relative;
    display: block;
}

.title:hover{
    color: rgb(206,126,106);
    transition-duration:1;
}


.ir{
    color: beige;
    font-family: 'Space Mono';
    text-align: right;
    margin-bottom: 20;
    margin-top: 20;
    display: block;
    margin-left: 70%; 
    font-size: 1em;
}

.il{
    color: rgb(206, 126, 106);
    font-family: 'Space Mono';
    text-align: left;
    margin-bottom: 20;
    margin-top: 20;
    margin-right: 70%;
    display: block;
    font-size: 1em;
}

.header {
    color: beige;
    font-family: cursive; 
    font-style: bold;
    text-align: center;
    font-size: 3em;
}

.headerright{
    color: beige;
    font-family: cursive;
    text-align: right;
    display: block;
    font-size: 3em;
}

.headerleft {
    color: rgb(206, 126, 106);
    font-family: cursive;
    text-align: left;
    display: block;
    font-size: 3em;
}

.contactheader {
    border: dashed;
    border-color: beige;
    background: url(images/travelphoto.jpg);
    background-clip: padding-box;
    background-position: center;
    height: 200px;
    width: 100%;
    position:relative;

    color: rgb(242, 180, 165);
    font-family: cursive;
    font-size: 4em;
    font-style: bold;
    text-align: center;
    line-height: 200px;
    text-decoration: underline overline rgb(206, 126, 106);
}




.photoleft{
    border-style: dashed;
    border-color: rgb(206, 126, 106);
    display: block;
    position:left;
    min-width:50%;
    min-height:50%;
    max-width: 75%;
    max-height: 75%;
}
    

.photoright{
   display:block;
   border-style: dashed;
   border-color: beige;
   position: right;
   display:inline-block;
   min-width:50%;
   max-width: 50%;
   max-width: 75%;
   max-height: 75%;
   
   
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid #555;
    border-bottom: 15px solid transparent;
    
}


footer{
    clear:both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    margin-left: 16%;
    margin-right:16%;
}   

