 
/*mystylesheet*/
body {
    color: rbg(0,53,48);
    background-color: rgb(88, 115, 130)  
}

header { 
    background-color: rgb(206, 126, 106);
    border: 2px dashed;
    position: relative;
    margin: auto;
    width: 100%; 
}
.info {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

.titleleft {
    color: rgb(206, 126, 106);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    margin-bottom: 20;
    margin-top: 20;
    position: relative;
}

.titleright{
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: right;
    margin-bottom: 20;
    margin-top: 20;
    display: block;
}

.title{
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 20;
    margin-top: 20;
    position: relative;
    display: block;
}

.header {
    color: beige;
    font-family: cursive;
    font-style: bold;
    text-align: center;
}

.headerright{
    color: beige;
    font-family: cursive;
    text-align: right;
    display: block;
}

.headerleft {
    color: rgb(206, 126, 106);
    font-family: cursive;
    text-align: left;
    display: block;
}

.contactheader{
    color: rgb(206, 126, 106);
    font-family: cursive;
    font-style: bold;
    text-align: center;
    background: rgb(41,42,43);
    border: dashed;
    border-color: beige;

}

.photoleft{
    border-style: dashed;
    border-color: rgb(206, 126, 106);
    display: block;
    position:left;
    margin-right: 32%;
}
    

.photoright{
   display:block;
   border-style: dashed;
   border-color: beige;
   position: right;
   display:block;
   margin-left: 32%;
}

footer{
    clear:both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    margin-left: 16%;
    margin-right:16%;
   
}   

