 
/*mystylesheet*/
body {
    color: rbg(0,53,48);
    background-color: rgb(215, 251, 241)  
}

header { 
    background-color: rgb(0, 53, 48);
    border-bottom: 1px solid;
    position: relative;
    margin: auto;
    width: 100%; 
}
.info {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: right;
    margin-bottom: 20;
    margin-top: 20;
}

.header {
    color: beige;
    font-family: cursive;
    font-style: bold;
    text-align: center;
}

.contactheader{
    color: rgb(41, 42, 43);
    font-family: cursive;
    font-style: bold;
    text-align: center;
}